/* Website's font import */
@import url("https://fonts.googleapis.com/css2?family=Nunito");

/* apply same font globally */
* {
  font-family: "Nunito", serif;
}

/* apply same bg-color for all body */
body {
  background-color: #2bfcfc42;
}

/* for the logo/title */
#webpageTitle {
  display: flex;
  justify-content: center;
}

/* for header 1 elements */
h1 {
  display: inline;
  color: #000000;
  font-size: 30px;
  padding: 15px;
}

/* for titles within the main section */
#titleText {
  padding-top: 50px;
  color: #000000;
}

/* footer */
footer {
  padding-top: 2%;
  font-size: small;
  text-align: center;
}

/* for the navigation bar at the top of page */
.navBar {
  display: flex;
  justify-content: center;
}

/* for all ul elements, makes it fit to the size of the list */
ul {
  width: fit-content;
  text-decoration: none;
  padding: 0px;
}

/* for all ul li elements, makes it side by side */
ul li {
  width: fit-content;
  border-style: outset;
  border-color: #000000;
  display: inline-block;
  background-color: #ffa500;
  border-radius: 31px;
}

/* for all ul li a elements, makes it not fill up all space of text */
ul li a {
  display: inline-block;
  padding: 15px 35px;
  color: #000000;
  text-decoration: none;
  width: 10vw;
  text-align: center;
  font-size: small;
  border-radius: 31px;
}

/* gives feedback on hover */
ul li a:hover {
  background-color: #dd9000;
}

/* for anything in the homepage introInformation section */
#introInformation {
  border: 5px;
  border-style: solid;
  border-radius: 22px;
  background-color: rgb(97, 209, 212);
}

/* for quotes */
#inspirationalQuote {
  font-style: italic;
  font-stretch: expanded;
  text-align: center;
  color: rgb(3, 3, 3);
  font-weight: bold;
  margin-left: 22%;
  margin-right: 22%;
}

#inspirationalQuote:hover {
  color: rgba(3, 3, 3, 0.781);
}

/* for the intro paragraph */
#introParagraph {
  font-size: 25px;
  margin-left: 22%;
  margin-right: 22%;
  text-align: center;
}

/* !!sidebar css for all pages that use it!! */
/* box id for all sidebar components */
#refSidebar {
  display: flex;
  border-style: solid;
  margin-right: 1%;
  border-radius: 15px;
}

/* ul equivalent for the sidebar */
#sidebarList {
  text-decoration: none;
  text-decoration: none;
  padding: 0px 0px 0px 0px;
}

/* ul li equivalent for the sidebar */
.sidebar {
  display: block;
  padding: 0px;
  color: black;
  text-decoration: none;
  width: fit-content;
  text-align: center;
  font-size: small;
  border-radius: 50px;
}

/* groups the sidebar and guide sections */
#pageGroup {
  display: flex;
  padding: 0px 0px 0px 0px;
}

/* main content of the page, includes all the text and images for the guides */
main {
  padding: 14px;
  border-style: solid;
  border-radius: 15px;
  height: 500px;
  width: 100%;
  overflow-y: auto;
  background-color: rgb(97, 209, 212);
}

/* universal image adjust */
.guidePictures {
  width: 250px;
  padding-left: 10%;
}

.guidePicturesLarge {
  width: 600px;
}

/* start of css for the tip box */
#tip {
  padding-left: 2%;
  padding-right: 2%;
  width: fit-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Comic Sans MS";
}

#tipBox {
  border: 5px;
  border-style: solid;
  border-color: rgb(79, 160, 161);
  border-radius: 15px;
  margin: 15px;
  background-color: rgb(173, 215, 216);
}

#mainTips {
  margin-left: 0px;
  margin-right: 0px;
  border-style: solid;
  height: auto;
  width: auto;
  overflow-y: hidden;
  background-color: rgb(97, 209, 212);
}

#buttonSection {
  display: flex;
  justify-content: center;
}

.tipsButton {
  background-color: #ffa500;
  width: 45%;
  height: 100%;
  padding: 15px;
  border-radius: 15px;
  border-color: #000000;
  border-style: solid;
  font-weight: bolder;
}

.tipsButton:hover {
  background-color: #dd9000;
}

.progressBar {
  display: flex;
}

.tipProgressBar {
  background-color: #ffffff;
  border: #000000;
  border-style: solid;
  border-radius: 5px;
  width: 10%;
  height: 15px;
  margin: 10px;
}

/* These are classes used for when the next or back button is pressed on tips */
.tipOne {
  background-color: #94195d42;
}

.tipTwo {
  background-color: #94195d42;
}

.tipThree {
  background-color: #94195d42;
}

.tipFour {
  background-color: #94195d42;
}

.tipFive {
  background-color: #94195d42;
}

.tipSix {
  background-color: #94195d42;
}

.tipSeven {
  background-color: #94195d42;
}

.tipEight {
  background-color: #94195d42;
}

.tipNine {
  background-color: #94195d42;
}

.tipTen {
  background-color: #94195d42;
}

/* here starts the CSS directly for the issues page*/
.buttonGroupTop {
  display: flex;
  height: 10%;
}

.buttonGroupBottom {
  display: flex;
  height: 10%;
}

.issuesPanelButton {
  width: 100%;
  height: 100%;
  display: inline;
  border: 4px;
  border-color: black;
  border-style: solid;
  border-radius: 9999px;
  margin-left: 1px;
  margin-right: 1px;
}

#issuesMain {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  padding: 14px;
  border-style: solid;
  height: 680px;
  width: 70%;
  overflow-y: hidden;
  background-color: rgb(97, 209, 212);
}

.issueGroup {
  width: 90%;
  height: 500px;
  border: 4px;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(0, 0, 0);
  margin-left: 5%;
  margin-right: 5%;
  background-color: beige;
}

.middlePanelContent {
  padding: 15px;
}
.issueGroupTitle {
  text-align: center;
}

.issueGroupImg {
  text-align: center;
}

.issueImg {
  width: 350px;
  height: 5%;
}

.issueGroupDescription {
  text-align: center;
  font-size: 17px;
  margin-left: 15%;
  margin-right: 15%;
}

.issueOne {
  background-color: beige;
}

.issueTwo {
  background-color: rgb(162, 233, 197);
}

.issueThree {
  background-color: rgb(105, 184, 221);
}

.issueFour {
  background-color: rgb(224, 88, 145);
}

.innerBtnsGrp {
  display: flex;
  height: 10%;
  opacity: 0;
  justify-content: center;
}

.innerBtn {
  width: 15%;
  height: 100%;
  display: inline;
  border: 4px;
  border-color: black;
  border-style: solid;
  margin-left: 1px;
  margin-right: 1px;
}

/* Adjust for different display sizes */
@media (max-width: 1080px) {
  #inspirationalQuote {
    font-size: 70%;
  }

  #introParagraph {
    font-size: 70%;
  }

  ul li a {
    padding: 5px;
    text-align: center;
    font-size: 6px;
  }

  #logoImg {
    width: 44%;
    height: 44%;
  }

  h1 {
    display: block;
    color: black;
    font-size: 20px;
    padding: 5px;
  }

  .typeTitle {
    font-size: small;
  }

  main {
    padding: 5px;
    border-style: solid;
    overflow-y: auto;
    font-size: 55%;
  }

  footer {
    padding-top: 2%;
    font-size: x-small;
    text-align: center;
  }

  .guidePictures {
    width: 150px;
    padding-left: 10%;
  }

  .guidePicturesLarge {
    width: 200px;
  }

  .innerBtnsGrp {
    display: flex;
    height: 15%;
    opacity: 0;
    justify-content: center;
  }

  .innerBtn {
    width: 25%;
    height: 50%;
    display: inline;
    border: 4px;
    border-color: black;
    border-style: solid;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 9px;
  }

  .issueImg {
    width: 45%;
    height: 45%;
  }

  .issueGroupDescription {
    text-align: center;
    font-size: 12px;
    margin-left: 5%;
    margin-right: 5%;
  }

  #issuesMain {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    padding: 14px;
    border-style: solid;
    height: auto;
    width: 70%;
    overflow-y: hidden;
    background-color: rgb(97, 209, 212);
  }

  .issueGroup {
    width: 90%;
    height: auto;
    border: 4px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(0, 0, 0);
    margin-left: 5%;
    margin-right: 5%;
  }
}
