* {
  font-family: serif;
}

body {
  background-color: rgb(243, 243, 243);
}

#webpageTitle {
  display: flex;
  justify-content: center;
}

#logoImg {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  border-radius: 15px;
  border-style: double;
  background-color: rgb(184, 176, 103);
  width: 130px;
  height: 130px;
}

h1 {
  display: inline;
  color: black;
  font-size: 30px;
  padding: 15px;
}

#titleText {
  padding-top: 50px;
  color: black;
}

.navBar {
  display: flex;
  justify-content: center;
}

ul {
  width: fit-content;
  text-decoration: none;
  padding: 0px;
}

ul li {
  width: fit-content;
  border-style: outset;
  border-color: black;
  display: inline-block;
  background-color: rgb(184, 176, 103);
  border-radius: 31px;
}

ul li a {
  display: inline-block;
  padding: 15px 35px;
  color: black;
  text-decoration: none;
  width: 10vw;
  text-align: center;
  font-size: small;
  border-radius: 31px;
}

ul li a:hover {
  background-color: rgb(119, 113, 63);
}

#introInformation {
  border: 5px;
  border-style: ridge;
}

#inspirationalQuote {
  font-style: italic;
  font-stretch: expanded;
  text-align: center;
  color: cornflowerblue;
  font-weight: bold;
}

#introParagraph {
  font-size: 25px;
  margin-left: 155px;
  margin-right: 155px;
}

/* hardware guide  */
#refSidebar {
  flex: 1;
  border-style: solid;
  padding: 0px;
  margin-right: 20px;
}

#sidebarList {
  text-decoration: none;
  width: 0;
  text-decoration: none;
  padding: 0px;
  background-color: none;
}

.sidebar {
  margin: 10px;
  margin-right: -1px;
  border-style: solid;
  background-color: rgb(152, 94, 201);
}

.sidebar a {
  width: 220px;
}

.sidebarHover:hover {
  background-color: rgb(194, 177, 216);
  border-style: dotted;
}

#pageGroup {
  display: flex;
  padding: 0px 0px 0px 0px;
}

main {
  padding: 14px;
  border-style: solid;
  height: 500px;
  width: 75%;
  overflow-y: auto;
}

.guidePictures {
  width: 300px;
  padding-left: 10%;
}

/* Adjust for different display sizes */
@media (max-width: 1080px) {
  ul li a {
    padding: 5px;
    width: 8vw;
    text-align: center;
    font-size: 6px;
  }

  #logoImg {
    padding: 3px 3px;
    width: 100px;
    height: 100px;
  }

  h1 {
    display: block;
    color: black;
    font-size: 20px;
    padding: 5px;
  }

  .typeTitle {
    font-size: small;
  }

  main {
    padding: 5px;
    border-style: solid;
    width: 75%;
    overflow-y: auto;
    font-size: 70%;
  }

  #refSidebar {
    flex: 1;
    border-style: solid;
    padding: 0px;
    margin-left: -1%;
  }
}

@media (max-width: 1651px) {
  .sidebar a {
    width: 220px;
  }
}

@media (max-width: 1500px) {
  .sidebar a {
    width: 40px;
  }
}
